# --- PyTorch CPU Only (Huge Size Saving) ---

--extra-index-url https://download.pytorch.org/whl/cpu

# --- AI & Data Science ---

torch>=2.2.0
torchvision>=0.17.0
timm>=0.9.12
numpy>=1.26.0
pillow>=10.2.0
networkx>=3.1

#--- Web Framework ---

fastapi>=0.109.0
uvicorn[standard]>=0.27.0
gunicorn>=21.2.0
python-multipart>=0.0.9
pydantic>=2.6.0
python-dotenv>=1.0.1

#--- Utilities ---

requests>=2.31.0
pyyaml>=6.0.1
click>=8.1.7

#--- Monitoring ---

sentry-sdk[fastapi]>=1.40.0