name: CI/CD Pipeline

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      - name: Build Docker Image
        run: |
          docker build -t brain-api .

      - name: Run Docker Container & Test
        run: |
          docker run -d -p 8000:8000 --name test-container brain-api
          
          echo "Waiting for server to start..."
          for i in {1..30}; do
            if curl -s http://localhost:8000/ > /dev/null; then
              echo "Server is up!"
              break
            fi
            echo "Waiting..."
            sleep 1
          done
          
          if ! curl -s http://localhost:8000/ > /dev/null; then
            echo "Server failed to start!"
            docker logs test-container
            exit 1
          fi

          pip install requests pillow
          python test_api.py
#______________________________________________________________________________________________________
      - name: Push to Hugging Face Hub
        if: success()
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "abdoghazala20@gmail.com"
          git config --global user.name "Abdo Ghazala"
          git remote add space https://abdoghazala7:$HF_TOKEN@huggingface.co/spaces/abdoghazala7/brain-tumor-classification-api
          git push --force space main

      - name: Verify Deployment Status
        if: success()
        run: |
          pip install huggingface_hub
          python -c "
          import time
          import sys
          from huggingface_hub import HfApi

          api = HfApi()
          repo_id = 'abdoghazala7/brain-tumor-classification-api'
          
          print('Waiting for Space to build...')
          start_time = time.time()
          timeout = 600

          while True:
              if time.time() - start_time > timeout:
                  print('Timeout.')
                  sys.exit(1)
              try:
                  status = api.get_space_runtime(repo_id=repo_id).stage
                  print(f'Status: {status}')
                  if status == 'RUNNING': sys.exit(0)
                  if status in ['BUILD_ERROR', 'RUNTIME_ERROR']: sys.exit(1)
              except: pass
              time.sleep(10)
          "